body {
    background-image: url('images/background.jpg');
    background-size: cover;
}

.buttonControl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.stonePiles {
    background-color:  rgba(255,255,255,0);
}

#howToPlayText {
    display: none;
}

#closeButton {
    display: none;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 100px;
    left: 1000px;
}